# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

echodash.code-workspace
.DS_Store
composer.lock
vendor/*
node_modules
junit.xml
/coverage
/test-reports
wordpress-api.log
