parameters:
    level: 5
    checkExplicitMixedMissingReturn: false
    bootstrapFiles:
        - ./bin/phpstan-bootstrap.php
        - ./vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - ./vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - ./vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    excludePaths:
        - **/node_modules/*
        - **/vendor/*
        - **/tests/*
        - !**/*.php
    paths:
        - ./
    ignoreErrors:
        - '#Class file names should be based on the class name#'
