parameters:
    level: 5
    errorFormat: table
    checkExplicitMixedMissingReturn: false
    paths:
        - echodash.php
        - includes/
    scanDirectories:
        - ../woocommerce
        - ../easy-digital-downloads
        - ../../../wp-includes/
        - ../../../wp-admin/
    bootstrapFiles:
        - bin/phpstan-bootstrap.php
    dynamicConstantNames:
        - 'ECHODASH_DIR_PATH'
        - 'ECHODASH_PLUGIN_PATH'
        - 'ECHODASH_DIR_URL'